/* Chroma Syntax Highlighting - Monokai Theme */
/* Background */
.bg {
    background-color: #161b22;
}

/* PreWrapper */
.chroma {
    background-color: #161b22;
    color: #e6edf3;
}

/* Other */
.chroma .x {}

/* Error */
.chroma .err {
    color: #ff5f56;
}

/* CodeLine */
.chroma .cl {}

/* LineLink */
.chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit
}

/* LineTableTD */
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineHighlight */
.chroma .hl {
    background-color: #21262d
}

/* LineNumbersTable */
.chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #6e7681
}

/* LineNumbers */
.chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #6e7681
}

/* Line */
.chroma .line {
    display: flex;
}

/* Keyword */
.chroma .k {
    color: #ff79c6
}

/* KeywordConstant */
.chroma .kc {
    color: #ff79c6
}

/* KeywordDeclaration */
.chroma .kd {
    color: #ff79c6
}

/* KeywordNamespace */
.chroma .kn {
    color: #ff79c6
}

/* KeywordPseudo */
.chroma .kp {
    color: #ff79c6
}

/* KeywordReserved */
.chroma .kr {
    color: #ff79c6
}

/* KeywordType */
.chroma .kt {
    color: #8be9fd
}

/* Name */
.chroma .n {
    color: #e6edf3
}

/* NameAttribute */
.chroma .na {
    color: #50fa7b
}

/* NameBuiltin */
.chroma .nb {
    color: #8be9fd
}

/* NameBuiltinPseudo */
.chroma .bp {
    color: #8be9fd
}

/* NameClass */
.chroma .nc {
    color: #8be9fd
}

/* NameConstant */
.chroma .no {
    color: #bd93f9
}

/* NameDecorator */
.chroma .nd {
    color: #50fa7b
}

/* NameEntity */
.chroma .ni {
    color: #e6edf3
}

/* NameException */
.chroma .ne {
    color: #ff5555
}

/* NameFunction */
.chroma .nf {
    color: #50fa7b
}

/* NameFunctionMagic */
.chroma .fm {
    color: #50fa7b
}

/* NameLabel */
.chroma .nl {
    color: #e6edf3
}

/* NameNamespace */
.chroma .nn {
    color: #e6edf3
}

/* NameOther */
.chroma .nx {
    color: #e6edf3
}

/* NameProperty */
.chroma .py {
    color: #e6edf3
}

/* NameTag */
.chroma .nt {
    color: #ff79c6
}

/* NameVariable */
.chroma .nv {
    color: #e6edf3
}

/* NameVariableClass */
.chroma .vc {
    color: #e6edf3
}

/* NameVariableGlobal */
.chroma .vg {
    color: #e6edf3
}

/* NameVariableInstance */
.chroma .vi {
    color: #e6edf3
}

/* NameVariableMagic */
.chroma .vm {
    color: #e6edf3
}

/* Literal */
.chroma .l {
    color: #f1fa8c
}

/* LiteralDate */
.chroma .ld {
    color: #f1fa8c
}

/* LiteralString */
.chroma .s {
    color: #f1fa8c
}

/* LiteralStringAffix */
.chroma .sa {
    color: #f1fa8c
}

/* LiteralStringBacktick */
.chroma .sb {
    color: #f1fa8c
}

/* LiteralStringChar */
.chroma .sc {
    color: #f1fa8c
}

/* LiteralStringDelimiter */
.chroma .dl {
    color: #f1fa8c
}

/* LiteralStringDoc */
.chroma .sd {
    color: #f1fa8c
}

/* LiteralStringDouble */
.chroma .s2 {
    color: #f1fa8c
}

/* LiteralStringEscape */
.chroma .se {
    color: #f1fa8c
}

/* LiteralStringHeredoc */
.chroma .sh {
    color: #f1fa8c
}

/* LiteralStringInterpol */
.chroma .si {
    color: #f1fa8c
}

/* LiteralStringOther */
.chroma .sx {
    color: #f1fa8c
}

/* LiteralStringRegex */
.chroma .sr {
    color: #f1fa8c
}

/* LiteralStringSingle */
.chroma .s1 {
    color: #f1fa8c
}

/* LiteralStringSymbol */
.chroma .ss {
    color: #f1fa8c
}

/* LiteralNumber */
.chroma .m {
    color: #bd93f9
}

/* LiteralNumberBin */
.chroma .mb {
    color: #bd93f9
}

/* LiteralNumberFloat */
.chroma .mf {
    color: #bd93f9
}

/* LiteralNumberHex */
.chroma .mh {
    color: #bd93f9
}

/* LiteralNumberInteger */
.chroma .mi {
    color: #bd93f9
}

/* LiteralNumberIntegerLong */
.chroma .il {
    color: #bd93f9
}

/* LiteralNumberOct */
.chroma .mo {
    color: #bd93f9
}

/* Operator */
.chroma .o {
    color: #ff79c6
}

/* OperatorWord */
.chroma .ow {
    color: #ff79c6
}

/* Punctuation */
.chroma .p {
    color: #e6edf3
}

/* Comment */
.chroma .c {
    color: #6272a4
}

/* CommentHashbang */
.chroma .ch {
    color: #6272a4
}

/* CommentMultiline */
.chroma .cm {
    color: #6272a4
}

/* CommentSingle */
.chroma .c1 {
    color: #6272a4
}

/* CommentSpecial */
.chroma .cs {
    color: #6272a4
}

/* CommentPreproc */
.chroma .cp {
    color: #ff79c6
}

/* CommentPreprocFile */
.chroma .cpf {
    color: #bd93f9
}

/* Generic */
.chroma .g {}

/* GenericDeleted */
.chroma .gd {
    color: #ff5555
}

/* GenericEmph */
.chroma .ge {
    font-style: italic
}

/* GenericError */
.chroma .gr {
    color: #ff5555
}

/* GenericHeading */
.chroma .gh {
    color: #bd93f9;
    font-weight: bold
}

/* GenericInserted */
.chroma .gi {
    color: #50fa7b
}

/* GenericOutput */
.chroma .go {
    color: #44475a
}

/* GenericPrompt */
.chroma .gp {
    color: #6272a4
}

/* GenericStrong */
.chroma .gs {
    font-weight: bold
}

/* GenericSubheading */
.chroma .gu {
    color: #6272a4;
    font-weight: bold
}

/* GenericTraceback */
.chroma .gt {
    color: #ff5555
}

/* GenericUnderline */
.chroma .gl {
    text-decoration: underline
}

/* TextWhitespace */
.chroma .w {
    color: #6272a4
}

/* Light mode overrides */
[data-theme="light"] .chroma {
    background-color: #f6f8fa;
    color: #24292f;
}

[data-theme="light"] .chroma .err {
    color: #cf222e;
}

[data-theme="light"] .chroma .hl {
    background-color: #fff8c5
}

[data-theme="light"] .chroma .lnt {
    color: #8b949e
}

[data-theme="light"] .chroma .ln {
    color: #8b949e
}

[data-theme="light"] .chroma .k {
    color: #cf222e
}

[data-theme="light"] .chroma .kc {
    color: #cf222e
}

[data-theme="light"] .chroma .kd {
    color: #cf222e
}

[data-theme="light"] .chroma .kn {
    color: #cf222e
}

[data-theme="light"] .chroma .kp {
    color: #cf222e
}

[data-theme="light"] .chroma .kr {
    color: #cf222e
}

[data-theme="light"] .chroma .kt {
    color: #0550ae
}

[data-theme="light"] .chroma .n {
    color: #24292f
}

[data-theme="light"] .chroma .na {
    color: #0550ae
}

[data-theme="light"] .chroma .nb {
    color: #0550ae
}

[data-theme="light"] .chroma .bp {
    color: #0550ae
}

[data-theme="light"] .chroma .nc {
    color: #953800
}

[data-theme="light"] .chroma .no {
    color: #0550ae
}

[data-theme="light"] .chroma .nd {
    color: #8250df
}

[data-theme="light"] .chroma .nf {
    color: #8250df
}

[data-theme="light"] .chroma .fm {
    color: #8250df
}

[data-theme="light"] .chroma .nt {
    color: #116329
}

[data-theme="light"] .chroma .s {
    color: #0a3069
}

[data-theme="light"] .chroma .sa {
    color: #0a3069
}

[data-theme="light"] .chroma .sb {
    color: #0a3069
}

[data-theme="light"] .chroma .sc {
    color: #0a3069
}

[data-theme="light"] .chroma .dl {
    color: #0a3069
}

[data-theme="light"] .chroma .sd {
    color: #0a3069
}

[data-theme="light"] .chroma .s2 {
    color: #0a3069
}

[data-theme="light"] .chroma .se {
    color: #0a3069
}

[data-theme="light"] .chroma .sh {
    color: #0a3069
}

[data-theme="light"] .chroma .si {
    color: #0a3069
}

[data-theme="light"] .chroma .sx {
    color: #0a3069
}

[data-theme="light"] .chroma .sr {
    color: #0a3069
}

[data-theme="light"] .chroma .s1 {
    color: #0a3069
}

[data-theme="light"] .chroma .ss {
    color: #0a3069
}

[data-theme="light"] .chroma .m {
    color: #0550ae
}

[data-theme="light"] .chroma .mb {
    color: #0550ae
}

[data-theme="light"] .chroma .mf {
    color: #0550ae
}

[data-theme="light"] .chroma .mh {
    color: #0550ae
}

[data-theme="light"] .chroma .mi {
    color: #0550ae
}

[data-theme="light"] .chroma .il {
    color: #0550ae
}

[data-theme="light"] .chroma .mo {
    color: #0550ae
}

[data-theme="light"] .chroma .o {
    color: #cf222e
}

[data-theme="light"] .chroma .ow {
    color: #cf222e
}

[data-theme="light"] .chroma .c {
    color: #6e7781
}

[data-theme="light"] .chroma .ch {
    color: #6e7781
}

[data-theme="light"] .chroma .cm {
    color: #6e7781
}

[data-theme="light"] .chroma .c1 {
    color: #6e7781
}

[data-theme="light"] .chroma .cs {
    color: #6e7781
}

[data-theme="light"] .chroma .cp {
    color: #cf222e
}

[data-theme="light"] .chroma .gd {
    color: #82071e;
    background-color: #ffebe9
}

[data-theme="light"] .chroma .gi {
    color: #116329;
    background-color: #dafbe1
}